<div class="footer-container">
    <div class="headings-container">
        <div class="flex-container">
            <h2>Mitchell Gutman</h2>
            <p>A full stack developer focused on building smart, scalabale, lightweight software.</p>
        </div>
        <div class="flex-container">
            <h2>Services</h2>
            <ul>
                <li>Web Development</li>
                <li>Consulting</li>
                <li>API Integration</li>
                <li>Web Scraping</li>
            </ul>
        </div>
        <div class="flex-container">
            <h2>Contact Me</h2>
            <ul class="contact-li">
                <li ><i class="pi pi-inbox" style="margin-right:10px"></i>gutmanmitchell@gmail.com</li>
                <li ><i class="pi pi-phone" style="margin-right:10px"></i>(+1) 732-429-8162</li>
            </ul>
            <p></p>
        </div>
    </div>
    
</div>