#footer {
  background-color: #7d6ae9;
  display: flex;
  gap: 30px;
  font-size: 12px;
}

#footer > div {
  width: 25%;
}

#footer h2 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer ul li {
  padding: 5px 0;
  display: flex;
}
#footer ul li i {
  margin-right: 1rem;
}

#footer .icons {
  display: flex;
  gap: 12px;
}

#footer .icons i svg {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  #contact > div {
    width: 100%;
  }
}
