<section id="resume">
    <div class="main-container">
        <p class="small-heading">My Career Journey</p>
        <div class="big-heading"><span class="heading-white">My </span><span class="heading-color">CV Resume</span></div>
        <div class="flex-container">
            <!-- <div class="flex-item">
                <h2>Education</h2>
                <div class="flex-container">
                    <img src="assets/timeline.PNG" alt="">
                </div>
            </div> -->
            <div class="flex-item">
                <h2>Experience</h2>
                <div class="flex-container">
                    <div class="flex-container">
                        <div class="blob-container">
                            <div class="time-blob-1">
                                <p>2014 - 2016</p>
                            </div>
                            <div class="time-blob-2">
                                <p>2014 - 2016</p>
                            </div>
                        </div>
                        <img src="assets/timeline.PNG" alt="">
                        <div class="blob-container">
                            <div class="info-blob">
                                <div class="info-blurb">
                                    <h3>Barclays</h3>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to </p>
                                </div>
                            </div>
                            <div class="info-blob">
                                <div class="info-blurb">
                                    <h3>Barclays</h3>
                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="flex-container">
                        <div class="blob-container">
                            <div class="time-blob-1">
                                <p>2014 - 2016</p>
                            </div>
                            <div class="time-blob-2">
                                <p>2014 - 2016</p>
                            </div>
                        </div>
                        <img src="assets/timeline.PNG" alt="">
                        <div class="blob-container">
                            <div class="info-blob">
                                <div class="info-blurb">
                                    <h3>Barclays</h3>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to </p>
                                </div>
                            </div>
                            <div class="info-blob">
                                <div class="info-blurb">
                                    <h3>Barclays</h3>
                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</section>