<section id="resume" class="custom-container">
  <h6 class="subtitle">My Career Journey</h6>
  <h2 class="title">My <span class="gradient-text">CV Resume</span></h2>

  <div class="list">
    <div class="">
      <h3>Education</h3>
      <div
        *ngFor="let education of educations; index as i"
        class="resume-list {{ i == 0 ? 'active' : '' }}"
      >
        <span>{{ education.year }}</span>
        <div>
          <div class="resume-card">
            <h6>{{ education.school }}</h6>
            <p>{{ education.details }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <h3>Experience</h3>
      <div
        *ngFor="let experience of experiences; index as i"
        class="resume-list {{ i == 0 ? 'active' : '' }}"
      >
        <span>{{ experience.year }}</span>
        <div>
          <div class="resume-card">
            <h6>{{ experience.company }}</h6>
            <p>{{ experience.details }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="testimony" class="custom-container">
  <h6 class="subtitle">What my clients think about me</h6>
  <h2 class="title">What My <span class="gradient-text">Clients Says</span></h2>

  <div class="list">
    <div *ngFor="let testimony of testimonies" class="testimony-list">
      <div class="resume-card">
        <h6>{{ testimony.name }}</h6>
        <p>{{ testimony.details }}</p>
        <a class="btn transparent">
          Learn More <i class="pi pi-arrow-right"></i>
        </a>
      </div>
      <img [src]="testimony.image" />
    </div>
  </div>
</section>
