<section id="about" class="bg-2 custom-container">
  <div class="left">
    <img [src]="personUrl" />
  </div>
  <div class="right">
    <h6>About Me</h6>
    <h2>James <span class="gradient-text">Ryan</span></h2>

    <p>
      Hello! I'm James Ryan. Web Developer with over 8 years of experience.
      Experienced with all stages of the development cycle for dynamic web
      projects. Having an in-depth knowledge including advanced HTML5, CSS3,
      JavaScript, jQuery, Angular JS. Strong background in management and
      leadership.
    </p>

    <h6>My Skills</h6>
    <div class="skills">
      <span>HTML</span>
      <span>CSS</span>
      <span>Typescript</span>
      <span>Python</span>
      <span>Angular</span>
      <span>Javascript</span>
      <span>SQL</span>
      <span>Java</span>
      <span>GIT</span>
    </div>

    <a class="btn"> Learn More <i class="pi pi-arrow-right"></i> </a>
  </div>
</section>
