.main-heading {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.about-me-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.about-me-header {
    margin-bottom: 9rem;
}
