<section id="about">

    <h2 class="about-me-header">
        <span class="main-heading">
            About Me
        </span>
    </h2>

    <div class="about-me-content">
        <div class="flex-item">
            <h2>Who Am I?</h2>
            <p>Hello! I'm an experienced Full Stack Developer with a flair for crafting user-friendly web solutions. My expertise spans both front-end and back-end development, enabling me to build comprehensive and efficient websites. I'm passionate about learning, problem-solving, and pushing the boundaries of web technology. My approach combines technical skill with creativity and collaboration, ensuring every project is not just functional, but exceptional.</p>
        </div>
        
        <div class="flex-item">
            <h2>My Skills</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Typescript</li>
                <li>Python</li>
                <li>Angular</li>
                <li>Javascript</li>
                <li>SQL</li>
                <li>Java</li>
                <li>GIT</li>
                <li>Github</li>
            </ul>
        </div>
    </div>
</section>
