<section id="about">
    <div class="main-container">
        <h2 class="about-me-header">
            <span class="main-heading">About Me</span>
            <span class="sub-heading">Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology</span>
        </h2>
    
        <div class="about-me-content">
            <div class="flex-item">
                <h2>Who Am I?</h2>
                <p>Hello! I'm an experienced Full Stack Developer with a flair for crafting user-friendly web solutions. My expertise spans both front-end and back-end development, enabling me to build comprehensive and efficient websites. I'm passionate about learning, problem-solving, and pushing the boundaries of web technology. My approach combines technical skill with creativity and collaboration, ensuring every project is not just functional, but exceptional.</p>
            </div>
            
            <div class="flex-item">
                <h2>My Skills</h2>
                
                <div class="flex-container">
                    <div class="skill-container"><span class="skill">HTML</span></div>
                    <div class="skill-container"><span class="skill">CSS</span></div>
                    <div class="skill-container"><span class="skill">Typescript</span></div>
                    <div class="skill-container"><span class="skill">Python</span></div>
                    <div class="skill-container"><span class="skill">Angular</span></div>
                    <div class="skill-container"><span class="skill">Javascript</span></div>
                    <div class="skill-container"><span class="skill">SQL</span></div>
                    <div class="skill-container"><span class="skill">Java</span></div>
                    <div class="skill-container"><span class="skill">GIT</span></div>
                </div>
            </div>
        </div>
    </div>

</section>
