#portfolio .portfolio-container {
  gap: 47px;
  display: flex;
}

#portfolio .portfolio-container .portfolio {
  width: 33%;
  height: 100%;
  border-radius: 15px;
  padding: 27px 33px;
  background-color: #252729;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

#portfolio .portfolio-container .portfolio > div {
  flex: 1;
}

#portfolio .portfolio-container .portfolio img {
  width: 100%;
  object-fit: contain;
}

#portfolio .portfolio-container .portfolio p {
  font-weight: 500;
  font-size: 13px;
  opacity: 0.59;
  margin-bottom: 28px;
  line-height: 27px;
  color: #a2a3a5;
}

#portfolio .portfolio-container .portfolio h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 1199px) {
}
