<section id="portfolio" class="page-container">
    <p class="small-heading">Visit My Portfolio</p>
    <div class="big-heading"><span class="heading-white">My </span><span class="heading-color">Amazing Work</span></div>

    <div class="portfolio-container">   
        <div class="row">
            <div class="portfolio-el"><div class="text-blurb">Text1</div></div>
            <div class="portfolio-el"><div class="text-blurb">Text1</div></div>
            <div class="portfolio-el"><div class="text-blurb">Text1</div></div>
        </div>
        <div class="row">
            <div class="portfolio-el"><div class="text-blurb">Text1</div></div>
            <div class="portfolio-el"><div class="text-blurb">Text1</div></div>
            <div class="portfolio-el"><div class="text-blurb">Text1</div></div>
        </div>
    </div>
</section>
