<section id="services" class="custom-container">
  <h6 class="subtitle">Services I Offer to my Clients</h6>
  <h2 class="title">My Best <span class="gradient-text">Service</span></h2>

  <div class="slider">
    <div class="card">
      <span>Web Development</span>
      <h3>Web Design & Logo</h3>
      <p>
        I use animation as a third dimension by which to simplify experiences
        and kuiding thro each and every interaction.
      </p>
      <a class="btn transparent"
        >See Pricing <i class="pi pi-arrow-right"></i>
      </a>
    </div>

    <div class="card">
      <span>Apps Development</span>
      <h3>iOS & Android</h3>
      <p>
        I use animation as a third dimension by which to simplify experiences
        and kuiding thro each and every interaction.
      </p>
      <a class="btn transparent"
        >See Pricing <i class="pi pi-arrow-right"></i>
      </a>
    </div>

    <div class="card">
      <span>Game Develoment</span>
      <h3>Unity & Unreal Engine</h3>
      <p>
        I use animation as a third dimension by which to simplify experiences
        and kuiding thro each and every interaction.
      </p>
      <a class="btn transparent"
        >See Pricing <i class="pi pi-arrow-right"></i>
      </a>
    </div>
  </div>
</section>
