/* // @import "/src/assets/iconsax/style.css"; */

* {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  background: #1c1f23;
}

.bg-2 {
  background-color: #252729;
}

.gradient-text {
  background-image: linear-gradient(to right, #4e279d, #8561e8, #e9878a);
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.btn {
  background-color: #7d6ae9;
  border-radius: 6px;
  color: #fff;
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  width: fit-content;
  min-height: 48px;
}

.btn i {
  font-size: 12px;
  margin-left: 10px;
  font-weight: 600;
}

.btn:hover {
  background-color: #7d6ae9;
}

.btn.transparent {
  background-color: transparent;
  min-width: 0;
  min-height: 0;
  padding: 0;
  border-color: transparent !important;
  i {
    color: #7d6ae9;
  }
}

img.small {
  width: 17px;
  height: 17px;
}

img.med {
  width: 30px;
  height: 30px;
}

i svg {
  width: 16px;
  height: 16px;
}

.icons {
  i svg {
    width: 20px;
    height: 20px;
  }
}

i[icon="sun"][type="bold"] svg path {
  fill: #ec8c56;
  stroke: #ec8c56;
}

.custom-container {
  padding: 6rem 5rem;
}

.subtitle {
  color: #e3e3e3;
  font-weight: bold;
  font-size: 20px;
}

.title {
  font-weight: 800;
  font-size: 48px;
  line-height: 63.7px;
}

@media (max-width: 1199px) {
  .custom-container {
    padding: 6rem 3rem;
  }
}
