

<section id="home" class="page-container">
    <nav class="navbar">
        <div class="navgroup">
            <span style="color: white; font-size: 23px; font-family: Poppins; font-weight: 800; line-height: 20px; word-wrap: break-word">Mitch</span>
            <span style="color: #7D6AE9; font-size: 23px; font-family: Poppins; font-weight: 800; line-height: 20px; word-wrap: break-word"></span>
            <span style="color: #4E279D; font-size: 23px; font-family: Poppins; font-weight: 800; line-height: 20px; word-wrap: break-word"> Gutman</span>
        </div>
    
        <div class="buttons navgroup">
            <a id="home-button" (click)="onClickScroll($event)" class="home-button">Home <i class="pi pi-angle-down down"></i></a>
            <a id="about-button" (click)="onClickScroll($event)" class="home-button">About <i class="pi pi-angle-down down"></i></a>
            <a id="portfolio-button" (click)="onClickScroll($event)" class="home-button">Portfolio<i class="pi pi-angle-down down"></i></a>
            <a id="resume-button" (click)="onClickScroll($event)" class="home-button">Resume<i class="pi pi-angle-down down"></i></a>
            <a id="contact-button" (click)="onClickScroll($event)" class="home-button">Contact<i class="pi pi-angle-down down"></i></a>
        </div>
        <div class="navgroup">

        </div>
    </nav>

    <div class="about-me">
        <h6>Hi, I'm Mitch Gutman</h6>
        <h2>I'm a Full Stack Web Developer</h2>
        
        <p class="p-blurb">I am a full stack web developer. I can provide clean code and pixel perfect design.</p>
    </div>
</section>
