

<section id="home" class="page-container">
    <nav class="navbar">
        <div style="width: 357.60px">
            <span style="color: white; font-size: 23px; font-family: Poppins; font-weight: 800; line-height: 20px; word-wrap: break-word">Mitch</span>
            <span style="color: #7D6AE9; font-size: 23px; font-family: Poppins; font-weight: 800; line-height: 20px; word-wrap: break-word"></span>
            <span style="color: #4E279D; font-size: 23px; font-family: Poppins; font-weight: 800; line-height: 20px; word-wrap: break-word"> Gutman</span>
        </div>
    
        <div>buttons</div>
        <div>settings</div>
    </nav>

    <div class="about-me">
        <h6 class="first-p">hi, my name is</h6>
        <h1>Mitch Gutman</h1>
        <h2>Full Stack</h2>
        <h2>Web Developer</h2>
    </div>
</section>
