<section id="contact" class="custom-container bg-2">
  <h6 class="subtitle">Get in Touch</h6>
  <h2 class="title">Contact <span class="gradient-text">Me</span></h2>

  <form action="" method="post">
    <label for="name">Name</label>
    <input
      class="input"
      type="text"
      id="name"
      name="name"
      placeholder="Enter your name"
    />

    <label for="email">Email</label>
    <input
      class="input"
      type="email"
      id="email"
      name="email"
      placeholder="Enter your email"
    />

    <label for="message">Message</label>

    <textarea
      class="input"
      id="message"
      name="message"
      rows="4"
      cols="50"
      placeholder="Type your message"
    ></textarea>

    <button type="submit" class="btn">
      Submit <i class="pi pi-arrow-right"></i>
    </button>
  </form>

  <img class="rocketship" src="/assets/rocketship.png" alt="" />
  <img class="polygon" src="/assets/polygon.svg" alt="" />
  <img class="circle top" src="/assets/circle.svg" alt="" />
  <img class="circle bottom" src="/assets/circle.svg" alt="" />
</section>
